<div class="footer fixed">
    {% block footer %}
    <div class="float-right">
        <strong>{{ _('Version') }} 1.0 (20180901)</strong>
    </div>
    <div>
        <strong>Seed Stock Exchange</strong> &copy; 2019 Bioversity International
    </div>
    {% endblock footer %}
</div>